<div class="product-page">
  <a href="/products">Voltar</a>
  <h1>{{product.name}}</h1>
  <p>Preço: R${{product.price}}</p>
  <img src="{{product.img}}" alt="{{product.name}}">
  <p>Descrição: {{product.description}}</p>
  <form action="/products/remove/" method="POST">
  <input type="hidden" name="id" value="{{product._id}}">
    <input type="submit" class="btn" value="Excluir">
  </form>
</div>