<h1>Livros Disponíveis</h1>
<div class="books-container">
    <a class="more" href="/">Adicionar Livro</a>
    {{#each books}}
    <div>
        # {{this.id}} - <span class="bold">Titulo: {{this.title}}</span> - {{this.pageqty}} paginas
        <a class="more" href="/books/{{this.id}}">ver mais</a>
        <a class="edit" href="/books/edit/{{this.id}}">editar</a>
        <a class="delete" href="/books/delete/{{this.id}}">excluir</a>
    </div>
    {{/each}}
</div>